body{
    background-color: rgb(245, 237, 237);
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

h1{
    background-color: brown;
    padding:30px;
}

p{
    color: black;
}