body{
    background-color: rgb(245, 237, 237);
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    padding: 50px;
}

h1{
    background-color: rgb(156, 82, 22);
    padding:30px;
}

p{
    color: black;
}

ul{
    color:black
}